/* Top Nav */
/*

div.top-nav {
	background: linear-gradient(to right, #050C0F 0%, #000000 50%, #050C0F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 4px 2px -2px #808080;
}

div.top-nav a {
    	color: #DDDDDD;
    	font-family: "Ubuntu";
    	letter-spacing: 0.08em;
    	text-transform: uppercase; 
}
div.top-nav div.homeitem {
	font-size: 1.25em;
}
div.top-nav div.mainitem {
}
div.top-nav div.infoitem {
}
div.columns { border: solid 1px #FFFFFF; }
div.top-nav a:hover {
	border-bottom: 0.15em solid #FFB144;
}
.full-width { width: 100%; max-width: 100%; }


*/

